<!DOCTYPE html>
<html>
    <head>
        <%- include('module/head'); %>
    </head>
    <body class="" data-layout="detached" data-layout-config='{"leftSidebarCondensed":false,"darkMode":false, "showRightSidebarOnStart": true}'>
        <%- include('module/topbar'); %>

        <!-- Start Content-->
        <div class="container-fluid">

            <!-- Begin page -->
            <div class="wrapper">

                <%- include('module/leftsidebar'); %>
                <div class="content-page">
                    <div class="content">

                        <div id="div-alert" class="div-alert">

                        </div>

                        <!-- start page title -->
                        <div class="row">
                            <div class="col-12">
                                <div class="page-title-box">
                                    <h4 class="page-title">관리페이지</h4>
                                </div>
                            </div>
                        </div>
                        <!-- end page title -->    
                        
                        <div class="row">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-body">

                                        <!-- Checkout Steps -->
                                        <ul class="nav nav-pills bg-nav-pills nav-justified mb-3">
                                            <li class="nav-item">
                                                <a href="#students" data-toggle="tab" aria-expanded="false"
                                                    class="nav-link rounded-0 active">
                                                    <i class="mdi mdi-account-circle font-18"></i>
                                                    <span class="d-none d-lg-block">학생</span>
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a href="#homework_group" data-toggle="tab" aria-expanded="true" class="nav-link rounded-0">
                                                    <i class="mdi mdi-file-multiple-outline font-18"></i>
                                                    <span class="d-none d-lg-block">과제 그룹</span>
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a href="#homework" data-toggle="tab" aria-expanded="false" class="nav-link rounded-0">
                                                    <i class="mdi mdi-file-edit-outline font-18"></i>
                                                    <span class="d-none d-lg-block">과제</span>
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a href="#score" data-toggle="tab" aria-expanded="false" class="nav-link rounded-0">
                                                    <i class="mdi mdi mdi-clipboard-check-multiple-outline font-18"></i>
                                                    <span class="d-none d-lg-block">과제 점수</span>
                                                </a>
                                            </li>
                                        </ul>

                                        <!-- Steps Information -->
                                        <div class="tab-content">

                                            <!-- Students Content-->
                                            <div class="tab-pane show active" id="students">
                                                <div class="row">
                                                    <div class="col-lg-4">
                                                        <div class="border p-3 mt-4 mt-lg-0 rounded">
                                                            <h4 class="header-title mb-3">학생 조회</h4>
            
                                                            <div class="table-responsive">
                                                                <table class="table table-centered mb-0">
                                                                    <tbody id="std-tbody">
                                                                        <% students.forEach(element => { %>
                                                                            <tr>
                                                                                <td>
                                                                                    <p class="m-0 d-inline-block align-middle">
                                                                                        <%= element.number %>.
                                                                                        <button type="button" data-toggle="modal" data-target="#std-detail-modal" class="btn btn-link text-body" id="std-mod" data-number=<%= element.number %> data-id=<%= element._id %>>
                                                                                            <%= element.name %>
                                                                                        </button>
                                                                                    </p>
                                                                                </td>
                                                                            </tr>
                                                                        <% }); %>
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                            <!-- end table-responsive -->
                                                        </div> <!-- end .border-->
            
                                                    </div> <!-- end col -->     

                                                    <div class="col-lg-8">
                                                        <h4 class="mt-2">학생 관리</h4>

                                                        <p class="text-muted mb-4">학생을 등록 / 수정 / 삭제합니다.</p>

                                                        <form>
                                                            <div class="row">
                                                                <div class="col-md-6">
                                                                    <div class="form-group">
                                                                        <label for="post-std-number">번호</label>
                                                                        <input class="form-control" type="number" placeholder="학생 번호 입력" id="post-std-number" />
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-6">
                                                                </div>
                                                            </div> <!-- end row -->
                                                            <div class="row">
                                                                <div class="col-md-6">
                                                                    <div class="form-group">
                                                                        <label for="post-std-name">이름</label>
                                                                        <input class="form-control" type="text" placeholder="학생 이름 입력" id="post-std-name" />
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-6">
                                                                </div>
                                                            </div> <!-- end row -->

                                                            <div class="row mt-4">
                                                                <div class="col-sm-6">
                                                                    <div class="text-sm-center">
                                                                        <a id="btn-std-post" href="#" class="btn btn-danger">
                                                                            <i class="mdi mdi-account-circle mr-1"></i> 학생 등록
                                                                        </a>
                                                                    </div>
                                                                </div> <!-- end col -->
                                                                <div class="col-sm-6">
                                                                </div> <!-- end col -->
                                                            </div> <!-- end row -->
                                                        </form>
                                                    </div>
                                                           
                                                </div> <!-- end row-->
                                            </div>
                                            <!-- End Students Content-->

                                            <!-- Homework Group Content-->
                                            <div class="tab-pane" id="homework_group">
                                                <div class="row">
                                                    <div class="col-lg-4">
                                                        <div class="border p-3 mt-4 mt-lg-0 rounded">
                                                            <h4 class="header-title mb-3">과제 그룹 조회</h4>
            
                                                            <div class="table-responsive">
                                                                <table class="table table-centered mb-0">
                                                                    <tbody id="hwgrp-tbody">
                                                                        <% homeworkGroup.forEach(element => { %>
                                                                            <tr>
                                                                                <td>
                                                                                    <p class="m-0 d-inline-block align-middle">
                                                                                        <a class="text-body">
                                                                                            <%= element.title %>
                                                                                        </a>
                                                                                    </p>
                                                                                </td>
                                                                                <td class="text-sm-right">
                                                                                    <a id="btn-hwgrp-delete" href="#" class="btn" data-id=<%= element._id %>><i class="mdi mdi-trash-can-outline"></i></a>
                                                                                </td>
                                                                            </tr>                                                                            
                                                                        <% }); %>
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                            <!-- end table-responsive -->
                                                        </div> <!-- end .border-->
            
                                                    </div> <!-- end col -->     

                                                    <div class="col-lg-8">
                                                        <h4 class="mt-2">과제 그룹 관리</h4>

                                                        <p class="text-muted mb-4">과제 그룹을 등록 / 삭제합니다.</p>

                                                        <form>
                                                            <div class="row">
                                                                <div class="col-md-6">
                                                                    <div class="form-group">
                                                                        <label for="post-hwgrp-title">과제 그룹 타이틀</label>
                                                                        <input class="form-control" type="email" placeholder="과제 그룹 타이틀 입력" id="post-hwgrp-title" />
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-6">
                                                                </div>
                                                            </div> <!-- end row -->

                                                            <div class="row mt-4">
                                                                <div class="col-sm-6">
                                                                    <div class="text-sm-center">
                                                                        <a id="btn-hwgrp-post" href="#" class="btn btn-danger">
                                                                            <i class="mdi mdi-file-multiple-outline mr-1"></i> 과제 그룹 등록 </a>
                                                                    </div>
                                                                </div> <!-- end col -->
                                                                <div class="col-sm-6">
                                                                </div> <!-- end col -->
                                                            </div> <!-- end row -->
                                                        </form>
                                                    </div>
                                                </div> <!-- end row-->
                                            </div>
                                            <!-- End Homework Group Content-->

                                            <!-- Homework Content-->
                                            <div class="tab-pane" id="homework">
                                                <div class="row">
                                                    <div class="col-lg-4">
                                                        <div class="border p-3 mt-4 mt-lg-0 rounded">
                                                            <h4 class="header-title mb-3">과제 조회</h4>
            

                                                            <!-- Accordion style start -->
                                                            <div class="accordion custom-accordion" id="custom-accordion-one">

                                                                <% homeworkGroup.forEach(hwg => {%>
                                                                <div class="card mb-0">
                                                                    <div class="card-header" id="heading<%= hwg._id %>">
                                                                        <h5 class="m-0">
                                                                            <a class="custom-accordion-title d-block py-1"
                                                                                data-toggle="collapse" href="#collapse<%= hwg._id %>"
                                                                                aria-expanded="false" aria-controls="collapse<%= hwg._id %>">
                                                                                <%= hwg.title %> <i
                                                                                    class="mdi mdi-chevron-down accordion-arrow"></i>
                                                                            </a>
                                                                        </h5>
                                                                    </div>
                                                                        
                                                                    <div id="collapse<%= hwg._id %>" class="collapse"
                                                                        aria-labelledby="heading<%= hwg._id %>"
                                                                        data-parent="#custom-accordion-one">
                                                                        <div class="card-body">
                                                                            <div class="table-responsive">
                                                                                <table class="table table-centered mb-0">
                                                                                    <tbody>
                                                                                        <% homework.forEach(hw => { %>
                                                                                            <% if(hwg._id == hw.group_id) { %>
                                                                                                <tr>
                                                                                                    <td>
                                                                                                        <p class="m-0 d-inline-block align-middle">
                                                                                                            <a href="#" class="text-body"><%= hw.title %></a>
                                                                                                        </p>
                                                                                                    </td>
                                                                                                    <td class="text-sm-right">
                                                                                                        <a id="btn-hw-delete" href="#" class="btn" data-id=<%= hw._id %>><i class="mdi mdi-trash-can-outline"></i></a>
                                                                                                    </td>
                                                                                                </tr>
                                                                                            <% } %>
                                                                                        <% }) %>
                                                                                    </tbody>
                                                                                </table>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                
                                                                <% }) %>
                                                            </div>
                                                            <!-- Accordion style end -->
                                                        </div> <!-- end .border-->
            
                                                    </div> <!-- end col -->     

                                                    <div class="col-lg-8">
                                                        <h4 class="mt-2">과제 관리</h4>

                                                        <p class="text-muted mb-4">과제를 등록 / 삭제합니다.</p>

                                                        <form>
                                                            <div class="row">
                                                                <div class="col-6">
                                                                    <div class="form-group">
                                                                        <label>과제 그룹 설정</label>
                                                                        <select id="sel-hwgrpid" class="form-control form-control-light" title="Country">
                                                                            <option value="0">그룹 선택</option>
                                                                            <% homeworkGroup.forEach(element => { %>
                                                                                <option value=<%= element._id %>>
                                                                                    <%= element.title %>
                                                                                </option>                                                                           
                                                                            <% }); %>
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-6">
                                                                </div>
                                                            </div> <!-- end row -->

                                                            <div class="row">
                                                                <div class="col-md-6">
                                                                    <div class="form-group">
                                                                        <label for="post-hw-title">과제 타이틀</label>
                                                                        <input class="form-control" type="text" placeholder="과제 타이틀 입력" id="post-hw-title" />
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-6">
                                                                </div>
                                                            </div> <!-- end row -->

                                                            <div class="row mt-4">
                                                                <div class="col-sm-6">
                                                                    <div class="text-sm-center">
                                                                        <a id="btn-hw-post" href="#" class="btn btn-danger">
                                                                            <i class="mdi mdi-file-edit-outline mr-1"></i> 과제 등록 </a>
                                                                    </div>
                                                                </div> <!-- end col -->
                                                                <div class="col-sm-6">
                                                                </div> <!-- end col -->
                                                            </div> <!-- end row -->
                                                        </form>
                                                    </div>
                                                </div> <!-- end row-->
                                            </div>
                                            <!-- End Homework Content-->
                                            
                                            <!-- Score Content-->
                                            <div class="tab-pane" id="score">
                                                <div class="row">
                                                    <div class="col-lg-3">
                                                        <div class="border p-3 mt-4 mt-lg-0 rounded">
                                                            <h4 class="header-title mb-3">과제 그룹 조회</h4>
            
                                                            <div class="table-responsive">
                                                                <table class="table table-centered mb-0">
                                                                    <tbody id="stdscore-tbody">
                                                                        <!-- comment std list for access score [start] -->

                                                                        <!-- comment std list for access score [end] -->
                                                                        <% homeworkGroup.forEach(element => { %>
                                                                            <tr>
                                                                                <td>
                                                                                    <p class="m-0 d-inline-block align-middle">
                                                                                        <a id="std-score-list" href="#" class="text-body" data-id=<%= element._id %>>
                                                                                            <%= element.title %>
                                                                                        </a>
                                                                                    </p>
                                                                                </td>
                                                                            </tr>                                                                            
                                                                        <% }); %>
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                            <!-- end table-responsive -->
                                                        </div> <!-- end .border-->
            
                                                    </div> <!-- end col -->     

                                                    <div class="col-lg-9">
                                                        <h4 class="mt-2">과제 점수 관리</h4>

                                                        <p class="text-muted mb-4">학생들의 과제 점수를 부여 / 수정합니다.</p>

                                                        <form id="std-hw-score-board">
                                                            
                                                        </form>

                                                        <div class="row mt-4">
                                                            <div class="col-sm-6">
                                                                <div class="text-sm-center">
                                                                    <a id="btn-hwscore-post" href="#" class="btn btn-danger">
                                                                        <i class="mdi mdi mdi-clipboard-check-multiple-outline mr-1"></i> 점수 부여/수정 </a>
                                                                </div>
                                                            </div> <!-- end col -->
                                                            <div class="col-sm-6">
                                                            </div> <!-- end col -->
                                                        </div> <!-- end row -->
                                                        
                                                        <div class="row mt-4">
                                                            <div class="col-sm-6">
                                                                <div class="text-sm-center">
                                                                    <a id="btn-beststudent-post" href="#" class="btn btn-danger">
                                                                        <i class="mdi mdi mdi-clipboard-check-multiple-outline mr-1"></i> 과제왕 뽑기 </a>
                                                                </div>
                                                            </div> <!-- end col -->
                                                            <div class="col-sm-6">
                                                            </div> <!-- end col -->
                                                        </div> <!-- end row -->

                                                    </div>
                                                </div> <!-- end row-->
                                            </div>
                                            <!-- End Score Content-->

                                        </div> <!-- end tab content-->

                                    </div> <!-- end card-body-->
                                </div> <!-- end card-->
                            </div> <!-- end col -->
                        </div>
                        <!-- end row -->
                        
                        <!-- start row -->
                        <div class="row">
                            <div class="col-6">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="page-title-box">
                                            <h5 class="page-title"><%= visitorCount.date %></h5>
                                            <h4 class="page-title">Today : <%= visitorCount.todayCount %></h4>
                                            <h4 class="page-title">Total : <%= visitorCount.totalCount %></h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="page-title-box">
                                            <form action="/teacher/today" method="post">
                                                <h4 class="page-title">선생님의 오늘의 한마디</h4>
                                                <div class="row">
                                                    <div class="col-8">
                                                        <input class="form-control" type="text" placeholder="오늘의 한마디를 입력하세요." name="content">
                                                    </div>
                                                    <div class="col-4">
                                                        <button id="btn-today-notice" type="submit" class="btn btn-danger" >
                                                            등록
                                                        </button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end row -->

                    </div>

                    <div id="loc-alert"></div>

                </div>
            </div>
        </div>
        
        <!--  Add new task modal -->
        <div class="modal fade task-modal-content" id="std-detail-modal" tabindex="-1" role="dialog" aria-labelledby="NewTaskModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="NewTaskModalLabel">학생 수정 / 삭제</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    </div>
                    <div class="modal-body">
                        <form class="p-2">

                            <div class="row">
                                <div class="col-md-2"></div>
                                <div class="col-md-8">
                                    <div class="form-group">
                                        <label for="task-title">번호</label>
                                        <input id="mod-std-id" type="text" class="form-control form-control-light" id="task-title" placeholder="Enter title">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2"></div>
                                <div class="col-md-8">
                                    <div class="form-group">
                                        <label for="task-priority2">이름</label>
                                        <input id="mod-std-name" type="text" class="form-control form-control-light" id="task-title" placeholder="Enter title">
                                    </div>
                                </div>
                            </div>
                            
                            <div class="text-right">
                                <button id="btn-std-patch" type="button" class="btn btn-primary" data-dismiss="modal">수정</button>
                                <button id="btn-std-delete" type="button" class="btn btn-danger" data-dismiss="modal">삭제</button>
                            </div>
                        </form>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

        <%- include('module/bundle'); %>

        <script>
            let callAlert = function (type) {
                let divAlert = document.createElement('div');
                
                if(type == "patch") {
                    divAlert.className = "alert alert-primary";
                    divAlert.textContent = "수정되었습니다.";
                } else if (type == "delete") {
                    divAlert.className = "alert alert-danger";
                    divAlert.textContent = "삭제되었습니다.";
                } else if (type == "post") {
                    divAlert.className = "alert alert-success";
                    divAlert.textContent = "등록되었습니다.";
                } else if (type == "fail_blank") {
                    divAlert.className = "alert alert-danger";
                    divAlert.textContent = "데이터 전송 실패하였습니다. 빈 칸을 모두 채워주세요.";
                } else if (type == "group_none_select") {
                    divAlert.className = "alert alert-danger";
                    divAlert.textContent = "그룹을 먼저 선택해주세요";
                } else if (type == "homework_none_typed") {
                    divAlert.className = "alert alert-danger";
                    divAlert.textContent = "과제 제목을 입력하세요.";
                }
                
                divAlert.role = "alert";

                // document.getElementById('loc-alert').appendChild(divAlert);
                document.getElementById('div-alert').appendChild(divAlert);

                window.setTimeout(function() {
                    $(".alert").fadeTo(500, 0).slideUp(500, function(){
                        $(this).remove(); 
                    });
                }, 5000);
            };

            let clickedId;
            $(document).on("click", "#std-mod", function() {
                let modBtn = $(this)[0];
                // console.log(modBtn.dataset.id);
                // console.log(modBtn.dataset.number);
                // console.log(modBtn.innerText);
                clickedId = modBtn.dataset.id
                $('#mod-std-id').val(modBtn.dataset.number);
                $('#mod-std-name').val(modBtn.innerText);
            });


            let changeStudentsListScoreTab = (students) => {
                let tbody = document.getElementById('stdscore-tbody');
                tbody.innerHTML = '';

                students.forEach(element => {
                    let row = document.createElement('tr');
                    let col = document.createElement('td');
                    let para = document.createElement('p');
                    para.className = "m-0 d-inline-block align-middle";
                    para.innerText = element.number + ".";
                    let name = document.createElement('button');
                    name.type="button";
                    name.className = "btn btn-link text-body";
                    name.setAttribute("data-number", element.number);
                    name.setAttribute("data-id", element._id);
                    name.innerText = element.name;

                    para.appendChild(name);
                    col.appendChild(para);
                    row.appendChild(col);
                    // console.log($('#std-tbody'));
                    tbody.appendChild(row);
                });
            }

            let changeStudentsList = (students) => {
                let tbody = document.getElementById('std-tbody');
                tbody.innerHTML = '';

                students.forEach(element => {
                    let row = document.createElement('tr');
                    let col = document.createElement('td');
                    let para = document.createElement('p');
                    para.className = "m-0 d-inline-block align-middle";
                    para.innerText = element.number + ".";
                    let name = document.createElement('button');
                    name.type="button";
                    name.setAttribute("data-toggle", "modal");         
                    name.setAttribute("data-target", "#std-detail-modal");
                    name.className = "btn btn-link text-body";
                    name.id = "std-mod";
                    name.setAttribute("data-number", element.number);
                    name.setAttribute("data-id", element._id);
                    name.innerText = element.name;

                    para.appendChild(name);
                    col.appendChild(para);
                    row.appendChild(col);
                    // console.log($('#std-tbody'));
                    tbody.appendChild(row);
                });
            }

            let callUpdatedStudents = () => {
                $.ajax({
                    method: 'GET',
                    url: "/api/students"
                })
                .done(students => {
                    console.log(students);
                    console.log("updatedStudents done 완료");
                    changeStudentsList(students);
                    changeStudentsListScoreTab(students);
                })
                .fail((xhr, status, error) => {
                    console.log("실패: " + error);
                })
            }

            $('#btn-std-patch').on("click", () => {
                $.ajax({
                    method: 'PATCH',
                    url: "/api/students/" + clickedId,
                    data: { number: $('#mod-std-id').val(), name: $('#mod-std-name').val()}
                })
                .done((json) => {
                    console.log(json);
                    console.log("done 완료");
                    callAlert("patch");
                    callUpdatedStudents();
                })
                .fail((xhr, status, error) => {
                    console.log("실패: " + error);
                })
            });

            $('#btn-std-delete').on("click", () => {
                $.ajax({
                    method: 'DELETE',
                    url: "/api/students/" + clickedId
                })
                .done((json) => {
                    console.log(json);
                    console.log("delete done");
                    callAlert("delete");
                    callUpdatedStudents();                    
                })
                .fail((xhr, status, error) => {
                    console.log("실패: " + error);
                })
            });

            $('#btn-std-post').on('click', () => {
                $.ajax({
                    method: 'POST',
                    url: "/api/students/",
                    data: { number: $('#post-std-number').val(), name: $('#post-std-name').val()}
                })
                .done((json) => {
                    console.log(json);
                    console.log("post done");
                    callAlert("post");
                    callUpdatedStudents();
                    $('#post-std-number').val('');
                    $('#post-std-name').val('');
                })
                .fail((xhr, status, error) => {
                    console.log("실패: " + error);
                })
            });

            // homework group Tab

            let changeHwgrpList = (hwgrp) => {
                let tbody = document.getElementById('hwgrp-tbody');
                tbody.innerHTML = '';

                hwgrp.forEach(element => {
                    let row = document.createElement('tr');
                    let col1 = document.createElement('td');
                    let para = document.createElement('p');
                    para.className = "m-0 d-inline-block align-middle";
                    let title = document.createElement('a');
                    title.className = "text-body";
                    title.innerText = element.title;

                    let col2 = document.createElement('td');
                    col2.className = "text-sm-right";
                    let btnDelete = document.createElement('a');
                    btnDelete.id = "btn-hwgrp-delete";
                    btnDelete.setAttribute("data-id", element._id);
                    btnDelete.href = "#";
                    btnDelete.className = "btn";
                    let icon = document.createElement('i');
                    icon.className = "mdi mdi-trash-can-outline";

                    para.appendChild(title);
                    col1.appendChild(para);
                    row.appendChild(col1);

                    btnDelete.appendChild(icon);
                    col2.appendChild(btnDelete);
                    row.appendChild(col2);
                    tbody.appendChild(row);
                });
            }

            let changeHwgrpInHwSelector = (hwgrp) => {
                let selector = document.getElementById('sel-hwgrpid');
                selector.innerHTML = '';
                let foption = document.createElement('option');
                foption.value = "0";
                foption.innerText = "그룹 선택";

                selector.appendChild(foption);

                hwgrp.forEach(element => {
                    let option = document.createElement('option');
                    option.value = element._id;
                    option.innerText = element.title;

                    selector.appendChild(option);
                });
            }

            let changeHwgrpStdScore = (hwgrp) => {
                let tbody = document.getElementById('stdscore-tbody');
                tbody.innerHTML = '';

                hwgrp.forEach(element => {
                    let row = document.createElement('tr');
                    let col1 = document.createElement('td');
                    let para = document.createElement('p');
                    para.className = "m-0 d-inline-block align-middle";
                    let title = document.createElement('a');
                    title.id = "std-score-list";
                    title.href = "#";
                    title.className = "text-body";
                    title.dataset.id = element._id;
                    title.innerText = element.title;

                    para.appendChild(title);
                    col1.appendChild(para);
                    row.appendChild(col1);

                    tbody.appendChild(row);
                });
            }

            let callUpdatedHwgrp = () => {
                $.ajax({
                    method: 'GET',
                    url: "/api/homework_groups"
                })
                .done(hwgrp => {
                    console.log(hwgrp);
                    console.log("updated hwgrp done 완료");
                    changeHwgrpList(hwgrp);
                    changeHwgrpInHwSelector(hwgrp);
                    changeHwgrpStdScore(hwgrp);
                })
                .fail((xhr, status, error) => {
                    console.log("실패: " + error);
                })
            };

            $('#btn-hwgrp-post').on('click', () => {
                $.ajax({
                    method: 'POST',
                    url: "/api/homework_groups/",
                    data: { title: $('#post-hwgrp-title').val() }
                })
                .done((json) => {
                    console.log(json);
                    console.log("post done");
                    callAlert("post");
                    callUpdatedHwgrp();
                    $('#post-hwgrp-title').val('');
                })
                .fail((xhr, status, error) => {
                    console.log("실패: " + error);
                })
            });

            /*
            $('#btn-hwgrp-delete').on('click', (event) => {
                console.log($(this));
                $.ajax({
                    method: 'DELETE',
                    url: "/api/homework_groups/" + $(this).dataset.id,
                })
                .done((json) => {
                    console.log(json);
                    console.log("delete done");
                    callAlert("delete");
                    callUpdatedHwgrp();
                })
                .fail((xhr, status, error) => {
                    console.log("실패: " + error);
                })
            });
            */

            $(document).on("click", "#btn-hwgrp-delete", function() {
                let delBtn = $(this)[0];
                console.log(delBtn);

                $.ajax({
                    method: 'DELETE',
                    url: "/api/homework_groups/" + delBtn.dataset.id,
                })
                .done((json) => {
                    console.log(json);
                    console.log("delete done");
                    callAlert("delete");
                    callUpdatedHwgrp();
                    callUpdatedHw();
                })
                .fail((xhr, status, error) => {
                    console.log("실패: " + error);
                })
            });


            // homework Tab

            let changeHwList = (hws, originHwgrp) => {
                /** **/
                let accordion = document.getElementById('custom-accordion-one');
                accordion.innerHTML = '';

                originHwgrp.forEach(hwg => {
                    let card = document.createElement('div');
                    card.className = "card mb-0";

                    accordion.appendChild(card);

                    // card header
                    let cardHeader = document.createElement('div');
                    cardHeader.className = "card-header";
                    cardHeader.id = "heading" + hwg._id;
                    let hwgTitleH5 = document.createElement('h5');
                    hwgTitleH5.className = "m-0";
                    let hwgTitleClick = document.createElement('a');
                    hwgTitleClick.className = "custom-accordion-title d-block py-1";
                    hwgTitleClick.setAttribute("data-toggle", "collapse");
                    hwgTitleClick.href = "#collapse" + hwg._id;
                    hwgTitleClick.setAttribute("aria-expanded", "false");
                    hwgTitleClick.setAttribute("aria-controls", "collapse" + hwg._id);
                    hwgTitleClick.innerText = hwg.title;
                    let arrowIcon = document.createElement('i');
                    arrowIcon.className = "mdi mdi-chevron-down accordion-arrow";

                    // connection header
                    card.appendChild(cardHeader);
                    cardHeader.appendChild(hwgTitleH5);
                    hwgTitleH5.appendChild(hwgTitleClick);
                    hwgTitleClick.appendChild(arrowIcon);

                    // card content(homework)
                    let cardContent = document.createElement('div');
                    cardContent.id = "collapse" + hwg._id;
                    cardContent.className = "collapse";
                    cardContent.setAttribute("aria-labelledby", "heading" + hwg._id);
                    cardContent.setAttribute("data-parent", "#custom-accordion-one");
                    let cardBody = document.createElement('div');
                    cardBody.className = "card-body";
                    let tbRsp = document.createElement('div');
                    tbRsp.className = "table-responsive";
                    let table = document.createElement('table');
                    table.className = "table table-centered mb-0";
                    let tbody = document.createElement('tbody');

                    // connection content card
                    card.appendChild(cardContent);
                    cardContent.appendChild(cardBody);
                    cardBody.appendChild(tbRsp);
                    tbRsp.appendChild(table);
                    table.appendChild(tbody);


                    hws.forEach(hw => {
                        if(hwg._id == hw.group_id) {
                            let tr = document.createElement('tr');
                            let td1 = document.createElement('td');
                            let p = document.createElement('p');
                            p.className = "m-0 d-inline-block align-middle";
                            let hwTitle = document.createElement('a');
                            hwTitle.href = "#";
                            hwTitle.className = "text-body";
                            hwTitle.innerText = hw.title;

                            let td2 = document.createElement('td');
                            td2.className = "text-sm-right";
                            let btnDelete = document.createElement('a');
                            btnDelete.id = "btn-hw-delete";
                            btnDelete.setAttribute("data-id", hw._id);
                            btnDelete.href = "#";
                            btnDelete.className = "btn";
                            let icon = document.createElement('i');
                            icon.className = "mdi mdi-trash-can-outline";

                            // connection content
                            tbody.appendChild(tr);
                            tr.appendChild(td1);
                            td1.appendChild(p);
                            p.appendChild(hwTitle);

                            tr.appendChild(td2);
                            td2.appendChild(btnDelete);
                            btnDelete.appendChild(icon);
                        }
                    });
                })
                /**/

                /**
                let tbody = document.getElementById('hw-tbody');
                tbody.innerHTML = '';

                hw.forEach(element => {
                    let row = document.createElement('tr');
                    let col1 = document.createElement('td');
                    let para = document.createElement('p');
                    para.className = "m-0 d-inline-block align-middle";
                    let title = document.createElement('a');
                    title.className = "text-body";

                    if(originHwgrp) {
                        originHwgrp.forEach(hwg => {
                            if(element.group_id == hwg._id) {
                                title.innerText = element.title + " - " + hwg.title;
                            }
                        });
                    }

                    let col2 = document.createElement('td');
                    col2.className = "text-sm-right";
                    let btnDelete = document.createElement('a');
                    btnDelete.id = "btn-hw-delete";
                    btnDelete.setAttribute("data-id", element._id);
                    btnDelete.href = "#";
                    btnDelete.className = "btn";
                    let icon = document.createElement('i');
                    icon.className = "mdi mdi-trash-can-outline";

                    para.appendChild(title);
                    col1.appendChild(para);
                    row.appendChild(col1);

                    btnDelete.appendChild(icon);
                    col2.appendChild(btnDelete);
                    row.appendChild(col2);
                    tbody.appendChild(row);
                });
                */                
            }
            
            let callUpdatedHw = () => {
                $.ajax({
                    method: 'GET',
                    url: "/api/homeworks"
                })
                .done(hw => {
                    console.log("updated hw done 완료");
                    $.ajax({
                        method: 'GET',
                        url: "/api/homework_groups"
                    })
                    .done(hwg => {
                        changeHwList(hw, hwg);
                    })
                })
                .fail((xhr, status, error) => {
                    console.log("실패: " + error);
                })
            };

            $('#btn-hw-post').on('click', () => {

                if($('#sel-hwgrpid :selected').val() == '0') {
                    callAlert("group_none_select");
                    return;
                }

                if($('#post-hw-title').val() == "") {
                    callAlert("homework_none_typed");
                    return;
                }

                $.ajax({
                    method: 'POST',
                    url: "/api/homeworks/",
                    data: { group_id: $('#sel-hwgrpid :selected').val(), title: $('#post-hw-title').val() }
                })
                .done((json) => {
                    console.log(json);
                    console.log("post done");
                    callAlert("post");
                    callUpdatedHw();
                    $('#post-hw-title').val('');
                })
                .fail((xhr, status, error) => {
                    console.log("실패: " + error);
                })
            });

            $(document).on("click", "#btn-hw-delete", function() {
                let delBtn = $(this)[0];
                console.log(delBtn);

                $.ajax({
                    method: 'DELETE',
                    url: "/api/homeworks/" + delBtn.dataset.id,
                })
                .done((json) => {
                    console.log(json);
                    console.log("delete done");
                    callAlert("delete");
                    callUpdatedHw();
                })
                .fail((xhr, status, error) => {
                    console.log("실패: " + error);
                })
            });
 
            // homework score Tab
            let targetGroupInScoreList;
            let makeScoreListUI = () => {
                let homeworkGroupInfo = targetGroupInScoreList;
                // console.log(homeworkGroupInfo.innerText);
                
                let board = document.getElementById('std-hw-score-board');
                board.innerHTML = '';

                let homeworkGroupTitle = document.createElement('h3');
                homeworkGroupTitle.className = "mt-2";
                homeworkGroupTitle.innerText = homeworkGroupInfo.innerText;

                let row = document.createElement('div');
                row.className = "row";
                let col12 = document.createElement('div');
                col12.className = "col-12";
                let tableresp = document.createElement('div');
                tableresp.className = "table-responsive";
                let table = document.createElement('table');
                table.className = "table table-centered w-100 dt-responsive nowrap";

                $.ajax({
                    method: "GET",
                    url: "/api/homework_score/homework_group/" + homeworkGroupInfo.dataset.id
                })
                .done(result => {
                    console.log(result);

                    // create table content
                    // homework iteration    // result[0]: homework group // result[1]: homework in the group // result[2]: homework score in the group // result[3]: students

                    let thead = document.createElement('thead');
                    thead.className ="thead-light";

                    let htr = document.createElement('tr');

                    let thNum = document.createElement('th');
                    thNum.innerText = "번호";
                    
                    let thName = document.createElement('th');
                    thName.innerText = "이름";

                    htr.appendChild(thNum);
                    htr.appendChild(thName);

                    result[1].forEach(hw => {
                        let hwTitle = document.createElement('th');
                        hwTitle.innerText = hw.title;

                        htr.appendChild(hwTitle);
                    });

                    let scoreTotalHead = document.createElement('th');
                    scoreTotalHead.innerText = "합계";
                    
                    htr.appendChild(scoreTotalHead);

                    let tbody = document.createElement('tbody');

                    result[3].forEach(student => {
                        let btr = document.createElement('tr');

                        let tdNum = document.createElement('td');
                        tdNum.innerText = student.number;

                        let tdName = document.createElement('td');
                        tdName.innerText = student.name;

                        btr.appendChild(tdNum);
                        btr.appendChild(tdName);
                        
                        let totalScore = 0;

                        result[1].forEach(hw => {
                            let inputCol = document.createElement('td');
                            let inputScore = document.createElement('input');
                            inputScore.name = "input_score_post";
                            inputScore.className = "form-control";
                            inputScore.min = "0";
                            inputScore.max = "2";
                            inputScore.type = "number";
                            inputScore.dataset.student_id = student._id;
                            inputScore.dataset.homework_id = hw._id;

                            // if there is score, put value to input
                            if(result[2]) {
                                result[2].forEach(homeworkScore => {
                                    if(homeworkScore.student_id == student._id
                                    && homeworkScore.homework_id == hw._id) {
                                        inputScore.value = homeworkScore.score;
                                        totalScore += Number(homeworkScore.score);
                                    }
                                });
                            }

                            inputScore.placeholder = "0";

                            inputCol.appendChild(inputScore);
                            btr.appendChild(inputCol);
                        });
                        
                        let scoreTotalBody = document.createElement('td');
                        scoreTotalBody.className = "group-total-score";
                        scoreTotalBody.dataset.group_id = homeworkGroupInfo.dataset.id;
                        scoreTotalBody.dataset.student_id = student._id;
                        scoreTotalBody.innerText = totalScore;

                        btr.appendChild(scoreTotalBody);
                        tbody.appendChild(btr);
                    });


                    board.appendChild(homeworkGroupTitle);
                    board.appendChild(row);
                    row.appendChild(col12);
                    col12.appendChild(tableresp);
                    tableresp.appendChild(table);
                    table.appendChild(thead);
                    thead.appendChild(htr);
                    table.appendChild(tbody);

                })
                .fail((xhr, status, error) => {
                    console.log("실패: " + error);
                });
            }

            $(document).on("click", "#std-score-list", function() {
                targetGroupInScoreList = $(this)[0];
                makeScoreListUI();
            });

            $('#btn-hwscore-post').on('click', () => {
                const inputs = document.getElementsByName('input_score_post');

                // console.log(inputs);

                /*
                let checkBlank = false;
                for(let i = 0; i < inputs.length; ++i) {
                    if(!inputs[i].value) {
                        checkBlank = true;
                        break;
                    }
                }

                if(checkBlank) {
                    callAlert("fail_blank");
                    return;
                }
                */

                inputs.forEach((input, index) => {
                    // console.log(input.dataset.homework_id);
                    // console.log(input.dataset.student_id);
                    // console.log(input.value);
                    $.ajax({
                        method: 'POST',
                        url: "/api/homework_score/?homework_id=" + input.dataset.homework_id + "&student_id=" + input.dataset.student_id,
                        data: { homework_id: input.dataset.homework_id, student_id: input.dataset.student_id, score: input.value? input.value : 0 }
                    })
                    .done((json) => {
                        //console.log(json);
                        console.log("post done");
                        callAlert("post");

                        if(index == inputs.length - 1) {
                            // console.log("this is last post");
                            makeScoreListUI();
                        }
                    })
                    .fail((xhr, status, error) => {
                        console.log("실패: " + error);
                    })
                })
            });

            $('#btn-beststudent-post').on('click', () => {
                const total = document.getElementsByClassName('group-total-score');
                console.log(total);
                
                total.forEach(score => {                    
                    if(score.innerText == "14") {
                        $.ajax({
                            method: 'POST',
                            url: "/api/group_best_student/?group_id=" + score.dataset.group_id + "&student_id=" + score.dataset.student_id,
                            data: { group_id: score.dataset.group_id, student_id: score.dataset.student_id }
                        })
                        .done((json) => {
                            console.log(json);
                            console.log("post done");
                            callAlert("post");
                        })
                        .fail((xhr, status, error) => {
                            console.log("실패: " + error);
                        })
                    }                    
                });
            });

        </script>

    </body>
</html>
